@font-face {
  font-family: 'pixelFont';
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Daydream';
  src: url("fonts/Daydream.ttf") format('truetype');
  font-weight: Extra Light;
  font-style: normal;
}
  
@font-face {
  font-family: 'nintendoFont';
  src: url("fonts/Nintendo-DS-BIOS.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
body {
  background-color: #010d04;
}
  
i {
  color: #535754;
}
  
/* different colors */
span.green {color: #5da369;}
span.teal {color: #5da398;}
span.blue {color: #5d80a3;}
span.purple{color:#715da3;}
span.red {color:#ab5050;}

.textBackground {
  margin: 2vw;
  height: 40vw
}
  
.mainTitle {
  color: #e0e0e0;
  font-size: 2vw;
  font-family: 'Daydream';
  text-align: center;
}
  
.text {
  margin: 3vw;
  color: #e0e0e0;
  font-size: 2vw;
  font-family: 'nintendoFont';
}
  
.biography1 {
  color: #e0e0e0;
  font-size: 2vw;
  font-family: 'nintendoFont';
  margin: -2vw 58vw 0vw 1.5vw;
  position: absolute;
}

.biography2 {
  color: #e0e0e0;
  font-size: 2vw;
  font-family: 'nintendoFont';
  margin: 11vw 58vw 0vw 1.5vw;
  position: absolute;
}

/* code for text editor information */

.textEditorBackground {
  /* background color */
  border-width: 10px;
  border-color: black;
  background: black;
  border-radius: 25px;
  /* size & position */
  width: 52vw;
  margin: 0vw 4vw 0vw 40vw;
}

.textEditor{
  color: #e0e0e0;
  font-size: 1.15vw;
  font-family: 'nintendoFont';
  padding: 1vw;
  line-height:1.5vw;
  text-indent: 2vw;
}

.consoleLog{
  color: #e0e0e0;
  font-size: 1.15vw;
  font-family: 'nintendoFont';
  padding: 1vw;
  margin-top: -2vw;
  margin-left: 1vw;
  line-height:1.5vw;
}

.consoleLog2{
  color: #e0e0e0;
  font-size: 1.15vw;
  font-family: 'nintendoFont';
  padding: 1vw;
  margin-top: 2.5vw;
  margin-left: 20vw;
  line-height:1.5vw;
  position:absolute;
}

@counter-style empty-style {
  system: extends decimal;
  suffix: ' ';
}
  
ol {
  list-style: empty-style;
}


/* code for text editor information */
