@font-face {
  font-family: 'pixelFont';
  src: url("../fonts/VCR_OSD_MONO_1.001.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daydream';
  src: url("../fonts/Daydream.ttf") format('truetype');
  font-weight: Extra Light;
  font-style: normal;
}

@font-face {
  font-family: 'nintendoFont';
  src: url("../fonts/Nintendo-DS-BIOS.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #001710;
  background-image: url("/images/imageBackground.png");
  background-size: 100%;
}

.coolBackground {
  display: inline-block;
  position: absolute;
  background: #1c362e;
  /* lmao dont worry about this */
  border-top: 50px solid #0a211a;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  /* lmao dont worry about this */
  border-radius: 8px;
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 3%;
}

h1 {
  /* color, text style*/
  color: #FAF9F6;
  background: #013324;
  padding: 22px 22px;
  border-radius: 8px;
  font-size:  3.5vw;
  font-family: 'Daydream';

  /* positioning */
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 3%;
}

h2 {
  color: #FAF9F6;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-size: 1.7vw;
  font-family: 'pixelFont';
}

i {
  color: #878787;
}

b {
  color: #FAF9F6;
}

a {
  color: #2de3ac;
}

.mainText {
  color: #e0e0e0;
  font-size: 28px;
  font-family: 'nintendoFont';
  margin-bottom: 15px;
  margin-left: 3%;
  margin-right: 3%;
  text-indent: 7px;
}

.hiddenRightOne{
  display: none;
}

.hiddenRightTwo{
  display: none;
}

.hiddenLeftOne{
  display: none;
}

.hiddenLeftTwo{
  display: none;
}

.hiddenTextLeft{
  /* text, font, and color */
  font-size: 1.6vw;
  text-align: left;
  text-decornation: none;
  color: #ffffff;
  background-color: #292929;
  font-family: 'nintendoFont';
  outline: none;
  text-indent: 3px;
  
  /* shape of text */
  border: none;
  border-radius: 5px;
  width: 25%;
  
  /* position */
  margin-top: 9%;
  margin-left: 3%;
  position: absolute;
}

.hiddenTextRight{
  /* text, font, and color */
  font-size: 1.6vw;
  text-align: left;
  background-color: #292929;
  color: #ffffff;
  font-family: 'nintendoFont';
  outline: none;
  text-indent: 3px;
  
  /* shape of text */
  border: none;
  border-radius: 5px;
  width: 25%;
  
  /* position */
  margin-top: 9%;
  margin-left: 72%;
  position: absolute;
}

.buttonLeft {
  /* shape of button */
  display: inline-block;
  padding: 21px 25px;
  font-size: 1.7vw;
  cursor: pointer;
  
   /* text, font, and color */
  font-family: 'nintendoFont';
  text-align: center;
  text-decoration: none;
  outline: 1px solid white;
  color: #ffffff;
  background-color: #474747;
  
  /* shape of button */
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #262626;
  width: 25%;
  
  /* position */
  margin-left: 3%;
  margin-bottom: 20px;
  position: absolute;
}

.buttonRight {
  /* shape of button */
  display: inline-block;
  padding: 21px 25px;
  font-size: 1.7vw;
  cursor: pointer;
  
  /* text, font, and color */
  font-family: 'nintendoFont';
  text-align: center;
  text-decoration: none;
  outline: 1px solid white;
  color: #ffffff;
  background-color: #474747;
  
  /* shape of button */
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #262626;
  width: 25%;
  
  /* position */
  margin-left: 71.5%;
  margin-bottom: 20px;
  position: absolute;
}

.textArt {
  /* text, font, and color */
  font-size: 1.3vw;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  font-family: Arial;
  text-decoration: none;
  outline: none;
  color: #a3a3a3;
  background-color: #292929;

  /* shape of area */
  border: none;
  border-radius: 5px;
  width: 35%;
  
  /* position */
  margin-left: 30.8%;
  margin-right: 50%;
  margin-bottom: 20px;
  position: absolute;
}

.windowsThingy{
  position: absolute; 
  width:40vw; 
  top: 40vw;
}
  
