body {
  background: #001710;
}

h1 {
  color: #FAF9F6;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  font-size: 30px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p {
  margin-left: 25%;
  margin-right: 25%;
}

.mainText {
  color: #FAF9F6;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.hidden{
  display: none;
}

.hiddenText{
  border: none;
  border-radius: 15px;
  width: 33%;
  margin-right: 3%;
  margin-left: 40%;
  font-size: 18px;
  text-align: left;
  text-decornation: none;
  color: #ffffff;
  background-color: #474747;
  float: left;
  position: absolute;
}

.buttonLeft {
  display: inline-block;
  padding: 21px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #474747;
  border: none;
  border-radius: 15px;
  margin-left: 25%;
  box-shadow: 0 9px #262626;
  width: 13%;
  margin-bottom: 20px;
}

